#login {
  color: #fff;                 
  background: #222 url('/assets/bg-login.gif');
}   
#login-wrapper {               
  background: url('/assets/bg-login-top.png') top left repeat-x;
  #login-top {                 
        width: 100%;           
        padding: 140px 0 50px 0;        
        text-align: center;    
  }
  #login-content {             
        width: 500px; 
        margin: 0 auto;       
        label {
          color: #fff;         
        }
        .form-actions{         
          background :transparent none;   
          border-top: none;    
        }
  } 
}   

